name: Test

on: [push]

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v6.0.0
        - name: ls
          run: ls -la
        - name: Setup Node.js environment
          uses: actions/setup-node@v6.0.0
        - name: node version
          run: node -v
        