name: Test

on: [push]

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v6.0.0
        - name: ls
          run: |
            chmod +x script.sh
            ./script.sh