name: Test

on: [push]

jobs:
  test_build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v6.0.0
        - name: ls
          run: ls -la

        - name: Setup Node.js environment
          uses: actions/setup-node@v6.0.0
          with:
            node-version: 'latest'

        - name: node version
          run: node -v

        - name: PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.3'
        